/************ Hero *************/
#hero { 
	background: url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 80%;
    height: 600px;
    width: 100%;
} 

.hero-text {
    height: 40vh; 
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    font-family: 'Georgia';
    color: white;
    font-size: 300%;
    font-weight: 500; 
    text-shadow: $text-shadow; 
}


@media only screen and (max-width : 620px){
		/* Tabs */
    #hero { 
        .hero-text {
            font-size: 120%
        }
    }
}