---
layout: default
pageClass: 'home'

---

<p class="intro">It's time for men to get serious about gender equity</p>
<p>We are male MBA students in partnership with womrn fighting against gender discrimination</p>
<div class="icons-row">
	<div class="pledge-icon icon-container">
		<i class="fa fa-pencil fa-4x" aria-hidden="true"></i>
		<p>Sign the pledge</p>
	</div>
	<div class="story-icon icon-container">
		<i class="fa fa-users fa-4x" aria-hidden="true"></i>
		<p>Our Story</p>
	</div>
	<div class="more-icon icon-container">
		<i class="fa fa-book fa-4x" aria-hidden="true"></i>
		<p>Learn more</p>
	</div>
	<div class="action-icon icon-container">
		<i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
		<p>Take Action</p>
	</div>
</div>
